*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;  
}
body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
::selection{
    background-color: aqua;
    color: black;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    max-width: 1400px;
    margin: auto;
    width: 100%;
}

.navigation .menu-icon{
    cursor: pointer;
    float: right;
    padding: 20px 10px;
    z-index: 103;
}

.navigation .menu-icon .nav-icon{
    background-color: white;
    display: block;
    height: 2px;
    width: 25px;
    position: relative;
    transition: background 0.2s ease-out; 

}

.navigation .menu-icon .nav-icon::before,
.navigation .menu-icon .nav-icon::after{
    background-color: #ffffffcc;
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    transition: all ease-out 0.2s;
}

.navigation .menu-icon .nav-icon::before{
    top: 8px;
}

.navigation .menu-icon .nav-icon::after{
    top: -8px;
}

.navigation .menu-btn:checked ~ .menu-icon .nav-icon{
    background-color: transparent;
}

.navigation .menu-btn:checked ~ .menu-icon .nav-icon::before{
    transform: rotate(-45deg);
    top: 0px;
}


.navigation .menu-btn:checked ~ .menu-icon .nav-icon::after{
    transform: rotate(45deg);
    top: 0px;
}
.menu-btn{
    display: none;
    margin: 20px;
}
.menu{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #111111f1;
    z-index: 102;
    display: none;
    justify-content: center;
    align-items: center;
    animation: fade 0.3s;
}
.menu li a{
    color: #ffffff;
    margin: 0px 40px;
    font-size: 2rem;
    font-family: Arial;
    transition: all ease 0.3s;
}
.menu li a:hover{
    font-size: 2.1rem;
    color: aqua;
    transition: all ease 0.3s;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropbtn{
    position: relative;
    margin: 0px 40px;
    font-size: 2rem;
    font-family: Arial;
    transition: all ease 0.3s;
    border: none;
    background-color: transparent;
    color: white;
}
.dropbtn:hover{
    font-size: 2.1rem;
    color: aqua;
    transition: all ease 0.3s;
}
.Category{
    display: none;
    position: absolute;
    background-color: transparent;
    z-index: 1;
    font-size: 1.5rem;
}
.Category li a{
    color: white;
    text-decoration: underline;
    display: inline-block;
    font-size: 1.5rem;
}
.Category a:hover{
    color: aqua;
    font-size: 1.7rem;
}
.dropdown:hover .Category{
    display: block;
    position: absolute;
}

.navigation .menu-btn:checked ~ .menu{
    display: flex;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.logo{
    color: aqua;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
    margin: 0px auto 0px 20px;
    display: flex;
    align-items: center;
    font-family: Arial;
    letter-spacing: 1px;
}
.logo span{
    font-size: 0.7rem;
    margin-left: 5px;
    font-weight: 700;
    letter-spacing: 2px;
}
.logo:hover{
    font-size: 2.1rem;
    transition: all ease 0.2s;
}

.search-box{
    background-color: #d1d1d111;
    padding: 2px 10px;
    border-radius: 20px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
}
.search-box input{
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;
}
.search-box input::placeholder{
    color: #ffffff5e;
} 
.search-box button{
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

#main-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 1170px;
    width: 100%;
}
.main-slider-box{
    width: 100%;
    height: 450px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    border: 1px solid #0e0e0ec2;
    position: relative;
    user-select: none;
}
.main-slider-img{
    width: 100%;
    height: 100%;
}
.main-slider-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.main-slider-text{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #161616b9 35%, rgba(73,73,73,0.23) 64%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    justify-content: space-between;
}
.main-slider-text .Info{
    background-color: rgb(0, 107, 71);
    color: black;
    font-weight: 600;
    padding: 0px 5px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.main-slider-text .Info:hover{
    background-color: aqua;
    color: black;
}
.main-slider-text .movie-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-slider-text .movie-name span{
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: rgba(240,240,240,0.82);   
}
.main-slider-text .movie-name strong{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
    line-height: 20px;
    color: #dfdfdf;
    letter-spacing: 0.5px;
}
.main-slider-text .group{
    color: #969696;
    font-size: 0.8rem;
    font-weight: 500;
}
.main-slider-text .group a{
    color: aqua;
    margin: 0px 3px;
}
.rating img{
    height: 10px;
    width: 20px;
    object-fit: contain;
    object-position: center;
}
.rating{
    font-size: 0.8rem;
    color: #ffffff;
    letter-spacing: 2px;
}
.main-slider-text .category-rating{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
.swiper-button-next,
.swiper-button-prev{
    position: static !important;
    transform: translate(0.0);
    margin: 10px 0px 0px 20px !important;
}
.Slider-btns{
    display: flex;
    justify-content: flex-end;
    max-width: 1170px;
    width: 100%;
    margin: 10px auto 0px auto;
}
.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 25px !important;
    font-weight: 800;
    color: aqua;
}
.Fix-icon .menu-icon{
    position: fixed;
    top: 40px;
    left: 40px;
    background-color: aqua;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: #0e0e0ec2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}
footer .copyright{
    color: aquamarine;
    font-size: 0.9rem;
}
footer .copyright a{
    color: aqua;
    font-size: 0.9rem;
}
